<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2023, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
--><launch>
  <!-- Camera Model and Name -->
  <arg default="zed2i" name="camera_name"></arg>
  <!-- The name you want -->
  <arg default="zed2i" name="camera_model"></arg>
  <!-- 'zed' or 'zedm' or 'zed2' -->
  <arg default="zed_node" name="node_name"></arg>
  <!-- Load SVO file -->
  <arg default="" name="svo_file"></arg>
  <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
  <!-- Remote stream -->
  <arg default="" name="stream"></arg>
  <!-- <arg name="stream" default="<ip_address>:<port>"> -->
  <!-- Base frame -->
  <arg default="zed_camera_link" name="base_frame"></arg>
  <!-- Publish ZED urdf -->
  <arg default="true" name="publish_urdf"></arg>
  <arg default="0" name="camera_id"></arg>
  <arg default="-1" name="gpu_id"></arg>
  <!-- Position respect to base frame (i.e. "base_link) -->
  <arg default="0.0" name="cam_pos_x"></arg>
  <arg default="0.0" name="cam_pos_y"></arg>
  <arg default="0.0" name="cam_pos_z"></arg>
  <!-- Orientation respect to base frame (i.e. "base_link) -->
  <arg default="0.0" name="cam_roll"></arg>
  <arg default="0.0" name="cam_pitch"></arg>
  <arg default="0.0" name="cam_yaw"></arg>
  <!-- ROS URDF description of the ZED -->
  <group if="$(arg publish_urdf)">
    <param command="$(find xacro)/xacro '$(find zed_wrapper)/urdf/zed_descr.urdf.xacro'                         camera_name:=$(arg camera_name)                         camera_model:=$(arg camera_model)                         base_frame:=$(arg base_frame)                         cam_pos_x:=$(arg cam_pos_x)                         cam_pos_y:=$(arg cam_pos_y)                         cam_pos_z:=$(arg cam_pos_z)                         cam_roll:=$(arg cam_roll)                         cam_pitch:=$(arg cam_pitch)                         cam_yaw:=$(arg cam_yaw)" name="zed_description"></param>
    <node name="zed_state_publisher" output="screen" pkg="robot_state_publisher" required="true" type="robot_state_publisher">
      <remap from="robot_description" to="zed_description"></remap>
    </node>
  </group>
  <node name="$(arg node_name)" output="screen" pkg="zed_wrapper" required="true" type="zed_wrapper_node">
    <!-- launch-prefix="valgrind" -->
    <rosparam command="load" file="$(find zed_wrapper)/params/common.yaml"></rosparam>
    <rosparam command="load" file="$(find zed_wrapper)/params/$(arg camera_model).yaml"></rosparam>
    <!-- Camera name -->
    <param name="general/camera_name" value="$(arg camera_name)"></param>
    <!-- Base frame -->
    <param name="general/base_frame" value="$(arg base_frame)"></param>
    <!-- SVO file path -->
    <param name="svo_file" value="$(arg svo_file)"></param>
    <!-- Remote stream -->
    <param name="stream" value="$(arg stream)"></param>
    <!-- Camera ID -->
    <param name="general/zed_id" value="$(arg camera_id)"></param>
    <!-- GPU ID -->
    <param name="general/gpu_id" value="$(arg gpu_id)"></param>
    <!-- Disable TF publishing -->
    <param name="pos_tracking/publish_tf" value="false"></param>
    <param name="pos_tracking/publish_map_tf" value="false"></param>
  </node>
</launch>
