<?xml version="1.0" encoding="UTF-8"?>
<!--
// Copyright 2022 Stereolabs
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
--><robot name="stereolabs_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg default="zed" name="camera_name"></xacro:arg>
  <xacro:arg default="zed" name="camera_model"></xacro:arg>
  <xacro:arg default="base_link" name="base_frame"></xacro:arg>
  <xacro:arg default="0.0" name="cam_pos_x"></xacro:arg>
  <xacro:arg default="0.0" name="cam_pos_y"></xacro:arg>
  <xacro:arg default="0.0" name="cam_pos_z"></xacro:arg>
  <xacro:arg default="0.0" name="cam_roll"></xacro:arg>
  <xacro:arg default="0.0" name="cam_pitch"></xacro:arg>
  <xacro:arg default="0.0" name="cam_yaw"></xacro:arg>
  <xacro:arg default="" name="gnss_frame"></xacro:arg>
  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro"></xacro:include>
  <xacro:zed_camera model="$(arg camera_model)" name="$(arg camera_name)" parent="$(arg base_frame)">
    <origin rpy="$(arg cam_roll) $(arg cam_pitch) $(arg cam_yaw)" xyz="$(arg cam_pos_x) $(arg cam_pos_y) $(arg cam_pos_z)"></origin>
  </xacro:zed_camera>
  <link name="$(arg base_frame)"></link>
</robot>
